<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-thumbnail item-start>
      <img *ngIf="user.photoURL" src="{{user.photoURL}}" />
      <ion-icon *ngIf="!user.photoURL" name="md-contact" class="user-icon"></ion-icon>
    </ion-thumbnail>
    <h2>{{user.email}}</h2>
  </ion-item>
  <button ion-button block color="danger" (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    Logout
  </button>
</ion-content>