<ion-header>
  <ion-navbar>
    <ion-title>
      My todoLists
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSeeProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-spinner *ngIf="listsPending"></ion-spinner>
  <ion-list *ngIf="!listsPending">
    <ion-item *ngFor="let list of lists">
      <span (click)="onListSelected(list)">{{ list.name }}</span>
      <ion-buttons end>
        <button ion-button icon-only (click)="onDeleteList(list.uuid)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>