<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      My todoLists
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle icon-only float-right>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-spinner *ngIf="listsPending"></ion-spinner>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="openNewList()">
      <ion-icon name='add'></ion-icon>
    </button>
  </ion-fab>
  <ion-list class="list-style" *ngIf="!listsPending">
    <ion-item class="item-style" *ngFor="let list of lists">
      <ion-grid>
        <ion-row>
          <ion-col (click)="onListSelected(list)">
            <h2 class="text">{{ list.name }}</h2>
          </ion-col>
          <ion-col>
            <ion-icon class="iconSize" name="md-more" color="dark" float-right (click)="presentActionSheet(list.uuid, list.name)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>


<ion-menu [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-left (click)="onSeeProfile()">
        <ion-icon name="person"></ion-icon>
        Account
      </button>
      <button ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>