<ion-header>
  <ion-navbar>
    <ion-title>
      My todoLists
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSeeProfile()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-spinner *ngIf="listsPending"></ion-spinner>
  </div>
  <ion-list class="list-style" *ngIf="!listsPending">
    <ion-item class="item-style" *ngFor="let list of lists">
      <ion-grid>
        <ion-row>
          <ion-col (click)="onListSelected(list)">
            <h2 class="text">{{ list.name }}</h2>
          </ion-col>
          <ion-col>
            <ion-icon class="iconSize" name="trash" color="dark" float-right (click)="onDeleteList(list.uuid)"></ion-icon>
            <ion-icon style="padding-right:40px" class="iconSize" name="create" color="dark" float-right (click)="onEditList(list.uuid)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>