page-home {

}

.iconSize {
  font-size: 30px;
}

.text {
    font-family: "Verdana", "serif";
    font-weight: bold;
}

.item-style {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.notification-icon {
    color: red;
}