page-confirm {
}

.trash-style {
  font-size: 80px;
  filter: alpha(opacity=50);
}

.text-style {
  font-size: 50px;
}

.accept-style {
  font-size: 80px;
  color: green;
}

.decline-style {
  font-size: 80px;
  color: red;
}
